body {
    background-image: linear-gradient(to right, #E3D9DF, #d8e2dc);

}

.h1 {
    text-align: center;
    color: #516D5C;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

.q {
    margin: 20px;
    width: 370px;
    color: #516D5C;
}

.submit {
    background-color: #C8B4C0;
    width: 200px;
    height: 35px;
    margin: 20px;
    border-color: #C8B4C0;
    border-style: solid;
    border-radius: 20px;
    color: #493641;
    cursor: pointer;
}

.ans {
    margin: 30px;
    text-align: center;
    width: 400px;
    color: #516D5C;
}

.input {
    background-color: #C7D5CD;
    height: 30px;
    border-color: #C7D5CD;
    margin-right: 10px;
    border-radius: 20px;
    border-style: solid;
    border-width: 1px;
    text-align: right;
    color: #516D5C;
}

.answer {
    margin-right: 10px;
    color: #516D5C;

}

.dbt {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}

.dbt-list {
    margin-right: 33px;
    background-color: #C7D5CD;
    height: 30px;
    width: 250px;
    border-color: #C7D5CD;
    border-radius: 20px;
    border-style: solid;
    border-width: 1px;
    text-align: right;
    color: #516D5C;
    text-align: center;
}